tweepy==4.14.0
kafka-python==2.0.2
pandas==2.2.2
vaderSentiment==3.3.2
streamlit==1.35.0
psycopg2-binary==2.9.9
SQLAlchemy==1.4.49
scikit-learn==1.4.2
apache-airflow==2.9.0
pyspark==3.5.1
textblob==0.18.0
requests==2.31.0